In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [2]:
df = pd.read_csv(r"D:\projects\AI\CIT GEN AI WORKSHOP\Assignment 1\stock_data.csv")

In [3]:
df.head()

,Price,Adj Close,Close,High,Low,Open,Volume
0,2020-01-02 00:00:00+00:00,72.796021,75.087502,75.150002,73.797501,74.059998,135480400
1,2020-01-03 00:00:00+00:00,72.088280,74.357498,75.144997,74.125000,74.287498,146322800
2,2020-01-06 00:00:00+00:00,72.662704,74.949997,74.989998,73.187500,73.447502,118387200
3,2020-01-07 00:00:00+00:00,72.320984,74.597504,75.224998,74.370003,74.959999,108872000
4,2020-01-08 00:00:00+00:00,73.484337,75.797501,76.110001,74.290001,74.290001,132079200

In [4]:
df.describe()

,Adj Close,Close,High,Low,Open,Volume
count,756.000000,756.000000,756.000000,756.000000,756.000000,7.560000e+02
mean,127.940987,130.311812,131.892775,128.614983,130.231998,1.120920e+08
std,30.494847,30.566496,30.841435,30.287325,30.596429,5.602586e+07
min,54.509758,56.092499,57.125000,53.152500,57.020000,3.519590e+07
25%,112.981403,115.739374,117.275000,114.129997,115.924374,7.636470e+07
50%,133.331627,135.379997,137.200005,133.750000,135.794998,9.493580e+07
75%,148.579056,150.704998,151.902504,149.029995,150.259998,1.296327e+08
max,179.076584,182.009995,182.940002,179.119995,182.630005,4.265100e+08

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 756 entries, 0 to 755
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Price      756 non-null    object
 1   Adj Close  756 non-null    float64
 2   Close      756 non-null    float64
 3   High       756 non-null    float64
 4   Low        756 non-null    float64
 5   Open       756 non-null    float64
 6   Volume     756 non-null    int64
dtypes: float64(5), int64(1), object(1)
memory usage: 41.5+ KB

In [9]:
df.set_index(pd.DatetimeIndex(df['Price']), inplace=True)
df = df[['Adj Close']]

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 756 entries, 2020-01-02 00:00:00+00:00 to 2022-12-30 00:00:00+00:00
Data columns (total 1 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Adj Close  756 non-null    float64
dtypes: float64(1)
memory usage: 11.8 KB